django>=4.2
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-filter>=23.0
django-cors-headers>=4.0
python-dotenv>=1.0
psycopg2-binary>=2.9  # untuk PostgreSQL
drf-spectacular>=0.26  # API documentation
